* {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
html {
  height: 100vh;
}
body {
  font-family: sans-serif;
  background-color: black;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2 {
  color: white;
  text-align: center;
}
h4 {
  color: white;
  text-align: center;
}
#blank {
  background-color: white;
  width: 500px;
  height: 500px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#outside {
  background-color: black;
  width: 480px;
  height: 480px;
  margin: auto;
}
#half {
  background-color: white;
  width: 430px;
  height: 430px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#third {
  background-color: black;
  width: 400px;
  height: 400px;
  margin: auto;
}
#cir1 {
  background-color: white;
  width: 320px;
  height: 320px;
  margin: auto;
  border-radius: 100%;
}
#moon {
  background-color: black;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  margin: auto;
}
#inner {
  background-color: white;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin: auto;
}
#target {
  background-color: red;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: auto;
}
#text {
  color: red;
  font-size: large;
}
